# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Rules.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\tomnc\Dev\Godot\MetaMaker\Rules\.idea\.idea.Rules\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
